<div class="row">

	<div class="span12">

      <table class="table">
        <tr>
       <thead>

       	<th>Tractor Model</th>
          <th>Unit Number</th>
       		<th>Unit Manuf/Date</th>
       			<th>Current Mileage</th>
       				<th>Distance Range</th>
                  <th>Last PM Date</th>
                <th>Mclane Unit</th>

       </thead>
   </tr>
  


   	<tbody>
   		<%@tractor.each do |t|%>
   		 <tr>
         <td><%=t.truck_model%></td>
           <td><%=t.drivers.size%></td>
           <td><%=t.unit_number%></td>
            <td><%=t.unit_year%></td>
               <td><%=t.mileage%></td>
               <td><%=t.fuel_range%></td>
               <td><%=t.last_pm%></td>

                  <%if t.fleet_unit == true %>
                  <td>Yes</td>
                  <%else%>
                  <td>No</td>
                  <%end%>
                  <td><%=link_to 'Tractor Details', t%></td>
                  <td><%=link_to 'Edit Driver', edit_driver_path(t)%></td>
                  <td><%=link_to 'Delete',t, method: :delete, data:{confirm:"You Are About To Delete a Tractor! Are you sure?"}%></td>

 </tr>
 <%end%>
   	</tbody>
    <tfoot>

     <tr>
       <td><%=link_to '+Add New Tractor',new_tractor_path%></td>
     </tr>
    </tfoot>


  


      </table>

      <%if @tractor.empty?%>
      <em>No Tractors Found</em>
      <%end%>





	</div>






</div>