<div class="row">

	<div class="span12">

      <table class="table">
        <tr>
       <thead>

       	<th>Driver Name</th>
          <th>Driver ID</th>
       		<th>Age</th>
       			<th>Experience</th>
       				<th>Status</th>

       </thead>
   </tr>
  


   	<tbody>
   		<%@driver.each do |driver|%>
   		 <tr>
         <td><%=driver.name%></td>
           <td><%=driver.driver_number%></td>
            <td><%=driver.age%></td>
               <td><%=driver.exp%></td>
                  <%if driver.status == true %>
                  <td>FullTime</td>
                  <%else%>
                  <td>PartTime</td>
                  <%end%>
                  <td><%=link_to 'Driver Details',driver%></td>
                  <td><%=link_to 'Edit Driver', edit_driver_path(driver)%></td>
                  <td><%=link_to 'Delete',driver, method: :delete, data:{confirm:"You About To Delete a Driver! Are you sure?"}%></td>

 </tr>
 <%end%>
   	</tbody>


  

      </table>





	</div>






</div>