<div class="row">
	<div class="span8">
		<p id="notice"><%=notice%></p>
<h1>Driver Page For: <%=@driver.name%></h1>

      <ul>
        <li>Driver ID:<%=@driver.driver_number%></li>
           <li>Driver EXP:<%=@driver.exp%></li>
              <li>Driver AGE:<%=@driver.age%></li>
                 <%if @driver.status == true %>
                 <li>Driver STATUS:FullTime</li>
                 <%else%>
                  <li>Driver STATUS:PartTime</li>
                 <%end%>

      </ul>
      <p><%=link_to 'Driver Listing',drivers_path%></p>

     <%=simple_form_for @driver do |f|%>
        <%= f.association :tractors %>
        <%=f.button :submit%>
     <%end%>
     </div>
     <div class="span4">
        <h2>Tractor Assigments</h2>
        <%@driver.tractors.each do |tractor|%>
        <p><%=tractor.unit_number%></p>
        <%end%>
     </div>
</div>